@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'DM Sans', sans-serif;

    position: relative;
}

/* START ADDRESS BAR  */
@media (max-width: 1200px){
    .brandnames{
        position: absolute;
        margin-top: 20px;
    }

    .brandnames a h4{
        font-size: 5rem;
    }
}
/* END ADDRESS BAR  */

/* START HEADER SECTION  */
header{ 
    /* height: 100%; */
    background:linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.3)
    ) ,url('../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    position: relative;
}

@media (max-width: 1200px) {
   
    header{
        height: 100%;
        overflow: hidden;
    }
}
/* Start Navlink  */
.nav-btns{
    background-color: transparent;
    border: 0;
}

.socialicons{
   display: flex;
}

@media (max-width: 1200px) {
    .navbars{
        margin: 200px 0;
    }
}
/* End Navlink  */

/* Start Navbar Toggle Block in mobile view  */

.navbar-toggle-blocks{
    height: 100%;
    width: 350px;
    background-color: #f5f5f5;

    position: absolute;
    top: 0;
    right: -100%;

    z-index: 10;

    transition: all .7s ease-in-out;
}

.navbar-toggle-blocks.active{
    right: 0%;
    transition: all .7s ease-in;
}

.navbar-toggle-blocks-items li a{
    padding: 7px 0;
    margin: 7px 0;
    font-size: 20px;
    text-align: center;
}

.navbar-toggle-blocks .btn.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 1200px) {
    .navbar-toggle-blocks{
        height: 100%;
    }
}
/* End Navbar Toggle Block in mobile view  */

/* Start Banner Section  */
.imgs-navbar{
    width: 400px;
    height: 300px;
    box-shadow: -10px -20px 5px rgba(0,0,0,0.3);

    z-index: -1;
}

.btn-danger.aboutuss{
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


@media (max-width: 1200px) {
    .imgs-navbar{
        width: 100%;
        height: 100%;
    }

    .texts h3{
        font-size: 4rem;
    }

    .texts p{
        font-size: 2.5rem;
    }

    .btn-danger.aboutuss{
        padding: 20px;
        border-radius: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .down-mobileviews{
        color: tomato;
        position: absolute;
        bottom: 13%;
        left: 50%;

        animation: myani01 0.9s ease infinite alternate-reverse;
    }
    
    @keyframes myani01 {
        from{
            bottom: 13%;
            opacity: 0.5;
        }

        to{
            bottom: 11%;
            opacity: 1;
        }
    }
}
/* End Banner Section  */
/* END HEADER SECTION  */

/* START SERVICE SECTION  */
.card{
    background-color: #edf7ff;
}

.backgrounds{
    background-color: #f4f4f4;
}

.progress{
    height: 5px;
}

.progress .progress-bar{
    height: 5px;
}

/* END SERVICE SECTION  */

/* START PROJECT SECTION  */
.projectsections{
    height: 50vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('../assets/img/banner/banner1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width:1200px) {
    .projectsections{
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* END PROJECT SECTION  */

.underlines{
    width: 120px;
    height: 2px;
    background-color: orangered;
    margin: auto;
}

/* START MORE SERVICE SECTION */

.servicesections{
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('../assets/img/banner/banner1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cards{
    background-color: transparent;
    border: 0;
    color: white;
    text-align: center;
}

.cards .card-header{
    border: 0;
}


.cards .card-header .icon .fas{
    width: 100px;
    height: 100px;
    font-size: 3rem;
    border: 2px solid red;
    border-radius: 50%;
    margin: 10px 0;
    text-align: center;
    line-height: 100px;
}

/* END MORE SERVICE SECTION */

/* START NEWS AND EVENT SECTION  */
.cards2{
    height: 250px;
    background-color: transparent;
    border: 0;

    position: relative;
}

.card-body-imgs{
    width: 100%;
    height: 100%;
}

#slides{
    position: relative;
}

.indicatorss{
    position: absolute;
    bottom: -50px;
    left: 0;
}

.indicatorss button{
    background-color: orangered !important;
}

.imgontexts{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 0%;
    opacity: 0;

    transition: height 0.4s ease;
}

.imgontexts .datas{
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   flex-direction: column;
}

.cards2:hover .imgontexts{
    height: 100%;
    opacity: 1;
}
/* END NEWS AND EVENT SECTION  */

/* START CLIENT SECTION  */
.cards1{
    background-color: #fff;
    border: 0;
    box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.3);
    text-align: center;
}
.cards1 .card-header{
    border: 0;
    background-color: #fff;  
}

.cards1 .users .userimgs{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* END CLIENT SECTION  */

/* START QUALITY SECTION  */
.qualityservices{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('../assets/img/banner/banner2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .qualityservices{
        height: 50vh;
        text-align: center;
    }
}
/* END QUALITY SECTION  */

/* START BLOGS SECTION  */
.blogs-imgs{
    width: 100%;
}

.blog-links{
    font-size: 20px;
}

.blog-links:hover{
    color: orangered;
}

/* END BLOGS SECTION  */

/* START FOOTER SECTION  */
footer .inputs{
    padding: 10px 0;
    border-radius: 0;
}

footer .inputs:focus{
    border: 0;
    box-shadow: none;
}

footer .btns{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 40px;
}

footer .links li a:hover{
    color: #fff;
}
/* END FOOTER SECTION  */