@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    /* height: 100vh; */
    margin: 0;

    background:linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.3)
    ) ,url('../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    font-family: 'DM Sans', sans-serif;

    position: relative;
}

/* START HEADER SECTION  */
header{ 
    height: 100vh;
    background:linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.3)
    ) ,url('../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    position: relative;
}

@media (max-width: 1200px) {
   
    header{
        height: 100vh;
        overflow: hidden;
    }
}
/* Start Navlink  */
.nav-btns{
    background-color: transparent;
    border: 0;
}

.socialicons{
   display: flex;
}

@media (max-width: 1200px) {
    .navbars{
        margin: 200px 0;
    }
}
/* End Navlink  */

/* Start Navbar Toggle Block in mobile view  */

.navbar-toggle-blocks{
    height: 100vh;
    width: 350px;
    background-color: #f5f5f5;

    position: absolute;
    top: 0;
    right: -100%;

    z-index: 10;

    transition: all .7s ease-in-out;
}

.navbar-toggle-blocks.active{
    right: 0%;
    transition: all .7s ease-in;
}

.navbar-toggle-blocks-items li a{
    padding: 7px 0;
    margin: 7px 0;
    font-size: 20px;
    text-align: center;
}

.navbar-toggle-blocks .btn.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 1200px) {
    .navbar-toggle-blocks{
        height: 100vh;
    }
}
/* End Navbar Toggle Block in mobile view  */

/* Start Banner Section  */
.imgs-navbar{
    width: 500px;
    height: 300px;
    box-shadow: -10px -20px 5px rgba(0,0,0,0.3);

    z-index: -1;
}

.btn-danger.aboutuss{
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


@media (max-width: 1200px) {
    .imgs-navbar{
        width: 100%;
        height: 100%;
    }

    .texts h3{
        font-size: 4rem;
    }

    .texts p{
        font-size: 2.5rem;
    }
}
/* End Banner Section  */
/* END HEADER SECTION  */

/* START SERVICE SECTION  */
.card{
    background-color: #edf7ff;
}

.backgrounds{
    background-color: #f4f4f4;
}

.progress{
    height: 5px;
}

.progress .progress-bar{
    height: 5px;
}

/* END SERVICE SECTION  */

/* START PROJECT SECTION  */
.projectsections{
    height: 50vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('../assets/img/banner/banner1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width:1200px) {
    .projectsections{
        height: 25vh;
    }
}
/* END PROJECT SECTION  */

.lines{
    width: 75px;
    height: 2px;
    background-color: orangered;
    margin: 0 170px;
}

@media (max-width: 1200px) {
    .lines{
        display: none;
    }
}
